body {
    background-image: url("/images/ErasSquaresBG.jpg");
    background-repeat: repeat;
    background-size: contain;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: 'Castoro Titling', 'Instrument Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    margin: 0;
  }
  
  h2 {
    margin: 0 0 5px;
    font-size: 28px;
  }

  h5 {
    text-align: center;
    font-family: 'Dancing Script', 'Satisfy', cursive;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
  }
  
  select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
  }
  
  .container {
    max-width: 600px;
    margin: 60px auto;
    background: #E6E0E9;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
  
  .city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  }
  
  .city:last-child {
    border: none;
  }
  
  .date {
    opacity: 0.7;
  }
  
  .time {
    font-size: 48px;
    font-weight: bold;
  }
  
  .time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;
  }

  .container2 {
    max-width: 600px;
    margin: 60px auto;}
  
  footer {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(230,224,234, 0.72);
    border-radius: 13px;
  }